.header {
    padding-top: 30px;
}
.header__top {
    padding-bottom: 15px;
    border-bottom: 1px solid #dddfdf;

    @include phones {
        display: none;
    }
}
.header__top-row {
    justify-content: space-between;
    align-items: center;
}
.header__bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddfdf;

    @include phones {
        display: none;
    }
}