.hidden {
    display: none;

    @include phones {
        display: block;
    }
}
.logo {
    margin-top: rem(30px);

    @include tablets {
        max-width: rem(179px)
    }
    @include phones {
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        margin-left: rem(10px);
    }
}
.logo__desc {
    font-size: rem(14px);

    @include tablets {
        font-size: rem(13px);
        white-space: nowrap;
    }
}