.navigation {
    width: 70%;
    margin-right: auto;
}
.navigation__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation__item {
    margin-right: rem(15px);
    &:last-child {
        margin-right: 0;
    }
}
.navigation__item--iconed {
    position: relative;
    margin-right: rem(15px);
    padding-left: rem(40px);
    padding-right: rem(20px);

    &::before {
        content: "";
        position: absolute;
        top: rem(8px);
        left: rem(10px);
        width: rem(16px);
        height: rem(12px);
        background: url("../images/choise.png") no-repeat;
    }
}
.navigation__item--iconed .navigation__link {
    position: relative;
    margin-right: 0;

    &::after {
        content: "";
        position: absolute;
        top: rem(17px);
        left: rem(-64px);
        width: rem(300px);
        height: rem(25px);
        background-color: transparent;
        z-index: 3;
    }
}
.navigation__item--iconed:hover .navigation__dropdown {
    display: block;
}
.navigation__icon-mark {
    position: absolute;
    top: rem(6px);
    right: rem(-19px);
    width: rem(11px);
    height: rem(7px);
    background: url("../images/mark.png") no-repeat;
    background-size: cover;
}
.navigation__link {
    z-index: 5;
    font-size: rem(16px);
    text-transform: uppercase;
    font-weight: 700;
    color: #181818;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: lighten(#181818, 15%);
    }
}
.navigation__dropdown {
    display: none;
    position: absolute;
    top: rem(45px);
    left: rem(-20px);
    z-index: 10;
    width: rem(244px);
    margin: 0;
    padding: 0;
    padding: rem(20px) 0;
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid #dddfdf;
    border-radius: 3px;
    box-shadow: 2px 3px 1px rgba(108, 104, 104, 0.33);
}
.navigation__dropdown-item {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: rem(11px);
        left: rem(6px);
        width: rem(6px);
        height: rem(6px);
        border: 1px solid #cb944c;
        border-radius: 50%;
    }
}
.navigation__dropdown-link {
    display: block;
    padding-left: rem(20px);
    padding-right: rem(15px);
    color: #666666;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.navigation__dropdown-link--iconed .navigation__dropdown-link {
    position: relative;
}
.navigation__dropdown-icon {
    position: absolute;
    top: rem(12px);
    right: rem(10px);
    width: rem(11px);
    height: rem(7px);
    background: url("../images/mark.png") no-repeat;
    transform: rotate(270deg);
}
.navigation__dropdown-link--active {
    position: relative;
    background-color: rgba(#e3e3e4, 0.77);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -19px;
        width: 20px;
        height: 200px;
        background-color:transparent;
        z-index: 1;
    }
}
.navigation__dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: rem(244px);
    padding: rem(23px) rem(18px);
    padding-right: rem(50px);
    background-color: #ffffff;
    border: 1px solid #dddfdf;
    border-radius: 3px;
    box-shadow: 2px 3px 1px rgba(108, 104, 104, 0.33);
}
.navigation__dropdown-item--active:hover  .navigation__dropdown-content {
    display: block;
}
.navigation__dropdown-embedded {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation__title {
    font-size: rem(16px);
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    color: #cb944c;
    background-color: none;
}
.navigation__dropdown-embedded-item {
    position: relative;
    padding-left: rem(15px);

    &::before {
        content: "";
        position: absolute;
        top: rem(11px);
        left: rem(-2px);
        width: rem(6px);
        height: rem(6px);
        border: 1px solid #cb944c;
        border-radius: 50%;
    }
}
.navigation__dropdown-embedded-link {
    color: #666666;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}