.slider__item {
    position: relative;
}
.slider__content {
    position: absolute;
    top: 25%;
    left: 10%;
    padding: rem(20px) rem(30px);
    color: #ffffff;
    background-color: rgba(#d2a66b, 0.88);

    @include tablets {
        top: 15%;
        left: 9%;
    }

    @include phones {
        padding: rem(8px) rem(10px);
        top: 30%;
    }
}
.slider__img-pic {
    @include phones {
        height: 0;
        overflow: hidden;
    }
}
.slider__text {
    font-size: rem(43px);
    line-height: rem(48px);

    @include tablets {
        font-size: rem(30px);
    }

    @include phones {
        font-size: rem(15px);
        line-height: rem(18px)
    }
}
.slider__img-phone {
    height: 0;
    overflow: hidden;

    @include phones {
        height: auto;
        overflow: visible;
    }
}